body {
  font-family: 'Montserrat', sans-serif;
  color: #192652;
  margin-left: 20px;
}

h1 {
  font-weight: 600;
  color: #192652;
}

button {
  font-family: 'Montserrat', sans-serif;
  background-color: #ff3838;
  color: white;
  border-style: none;
  border-radius: 2px;
  box-shadow: 0 1px 1px rgba(200, 200, 200, .4);
  font-weight: 200;
  text-transform: uppercase;
  padding: 5px 10px 5px 10px;
  margin-right: 10px;
}

button:focus {
  outline:0;
}

button:hover {
  background-color: #a00003;
}

select {
  font-family: 'Montserrat', sans-serif;
}

li {
  padding-top: 10px;
  padding-bottom: 10px;
}

.container {
  display: flex;
  height: 500px;
}

#tempLoading {
  position: absolute;
  top: 200px;
  left: 50px;
  font-size: 2em;
  color: white;
}

#instructions {
  min-width: 340px;
  background-color: whitesmoke;
  height: auto;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
/*  box-shadow: 0 1px 1px rgba(200, 200, 200, .4);*/
}
