body {
  font-family: 'Montserrat', sans-serif;
  color: #192652;
  margin-left: 20px;
}

h1 {
  font-weight: 600;
}

button {
  font-family: 'Montserrat', sans-serif;
}

select {
  font-family: 'Montserrat', sans-serif;
}

li {
  padding-top: 10px;
  padding-bottom: 10px;
}

#canvas {
  position: absolute;
}

#actions {
  position: relative;
  left: 510px;
  top: 50px;
}

#dashboard {
  display: inline;
}
